.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    color: white;
    text-align: center;
    line-height: 4rem;

    button {
      margin: 8px;
      font-size: 2rem;
    }
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    margin: 20px auto;
    transition: 0.5s;

    width: 100%;

    .image {
      height: 200px;
      min-width: 300px;
      padding: 4px;

      img {
        border-radius: 16px 0 0 16px;
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      width: 100%;
      padding: 8px 16px;

      .card-header {
        text-align: center;
        width: 100%;
        font-size: 1rem;
      }
      .card-body {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding: 12px;
        width: 100%;
      }
      .card-footer {
        padding: 0.8rem;
        width: 100%;
        .date {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }

    &:hover {
      transition: 0.5s;
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .card {
      display: flex;
      flex-direction: column;
      width: 80vw;

      .content {
        display: flex;
        flex-direction: column;
      }

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
          border-radius: 16px;
          width: 100%;
          object-fit: fill;
        }
      }
    }
  }
}
